@charset "UTF-8";
ul,
li {
  list-style: none;
}
body,
html {
  line-height: 1;
}
body,
html,
div,
ul,
li,
img,
button,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd,
dl {
  margin: 0;
  padding: 0;
  line-height: 1;
}
button {
  border: 0;
  outline: none;
}
img {
  display: block;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
